# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
.env.vault
Thumbs.db
